* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Red Hat Text", sans-serif;
    margin-block-end: 0;
    font-optical-sizing: auto;
    font-weight: 400;
}

:root {
    --cor-primaria: #2E7D32;
    --cor-secundaria: #F57C00;
    --cor-fundo: #f8f9fa;
    --cor-texto-principal: #000000;
    --cor-texto-secundario: #343a40;
}

body {
    background-color: var(--cor-fundo);
}

.headerMain {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-principal);

    & .headerTop {
        width: 90vw;
        height: 75%;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        align-items: center;
        justify-content: center;

        & img {
            max-width: 100%;
            cursor: pointer;
        }

        & input {
            width: 40rem;
            height: 2.2rem;
            border: none;
            border-radius: 8px;
            padding-left: 2%;
            justify-self: center;
            background-color: var(--cor-fundo);
            outline: none;
        }

        & input:hover,
        :focus {
            box-shadow: 1px 1px 12px 2px var(--cor-secundaria);
            transition: 0.3s ease;
        }

        .headerTopBtns {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            gap: 20%;

            & p {
                font-size: 1.35rem;
                text-align: center;
                cursor:default;
                font-weight: 600;
                color: #f1f1f1;
                margin-block-end: 0;
            }

            & a {
                text-decoration: none;
                font-size: 1.35rem;
                text-align: center;
                transition: 0.3s ease;
                font-weight: 600;
                color: #f1f1f1;
                user-select: none;
            }

            a:hover{
                transform: scale(1.05);
            }
        }
    }

    & .headerNav {
        width: 100vw;
        height: 25%;
        color: var(--cor-texto-principal);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: #d2d2d3;

        & .navList {
            display: grid;
            width: 80vw;
            height: 100%;
            grid-template-columns: repeat(7, 1fr);
            list-style: none;
            text-align: center;
            padding: 0;
            margin-block-end: 0;

            & .navGuide {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
            }

            & .navGuide:hover {
                cursor: pointer;
                background-color: var(--cor-secundaria);
                box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
                transition: 0.3s ease-in;
            }

            & a {
                text-decoration: none;
                font-size: 1.10rem;
                color: var(--cor-texto-principal);
            }
        }
    }
}

.adminDisplay{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .adminCommands {
        width: 70vw;
        height: 15vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        list-style: none;
        padding-left: 0;
    }
    
    li {
        justify-self: center;
    }

    .adminButtons {
        width: 12rem;
        padding: 1rem;
        cursor: pointer;
        border: none;
        border-radius: 7px;
        background-color: var(--cor-primaria);
        color: var(--cor-fundo);
        transition: 0.15s ease-in-out;
    }

    .adminButtons:hover{
        box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    }

    #btnAdc:hover, #btnList:hover{
        background-color: #06b147;
    }

    #btnEdit:hover{
        background-color: var(--cor-secundaria);
    }

    #btnRemove:hover{
        background-color: #FF454C;
    }
    
    .resultGuide{
        width: 70vw;
        height: 15vh;

        .resultsInput{
            width: 100%;
            height: 100%;
            background-color: #06b147;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            border-radius: 6px;

            label{
                color: var(--cor-fundo);
                justify-self: center;
            }

            input{
                border-radius: 6px;
                border: none;
                outline: none;
                padding-left: 5px;
                margin-left: 8px;
            }

            select{
                border-radius: 0 6px 0 6px;

            }

            button{
                justify-self: center;
                padding: 0 1.5rem;
                border: none;
                border-radius: 6px;
                transition: 0.3s ease-in-out;
            }

            button:hover{
                color: var(--cor-texto-principal);
            }

            #findProduct:hover{
                color: var(--cor-texto-principal);
            }
        }

    }

    .productsDisplay{
        width: 70vw;
        height: 60vh;
        overflow-y: scroll;
        background-color: #d2d2d3;
        margin-top: 1rem;
        border-radius: 6px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style: none;
        padding-left: 0;
        grid-auto-rows: 10rem;
        column-gap: 8px;
        row-gap: 8px;
        padding: 8px;

        .product{
            display: grid;
            width: 100%;
            grid-template-columns: 30% 70%;
            background-color: var(--cor-fundo);
            border-radius: 6px;
            align-items: center;
            padding: 0.5rem;
            
            img{
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 3px;
            }

            .productInfo {
                display: flex;
                height: 100%;
                width: 100%;
                flex-flow: column;
                justify-content: space-around;
                padding-left: 1rem;
            }

            span{
                font-weight: 600;
                font-size: 1rem;
            }
        }

    }

}

.rodape {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: 18vh;
    display: flex;
    background-color: var(--cor-texto-secundario);
    justify-content: center;
    color: var(--cor-fundo);
    user-select: none;

    label {
        cursor: pointer;
        transition: 0.3s;
    }

    label:hover {
        transform: 0.3s ease;
        color: var(--cor-secundaria);

        i{
            transform: 0.3s ease;
            color: var(--cor-secundaria);
        }
    }
}

