* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Red Hat Text", sans-serif;
    margin-block-end: 0;
    font-family: "Red Hat Text", sans-serif;
}

.red-hat-text {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

:root {
    --cor-primaria: #2E7D32;
    --cor-secundaria: #F57C00;
    --cor-fundo: #f8f9fa;
    --cor-texto-principal: #000000;
    --cor-texto-secundario: #343a40;
}

body {
    background-color: var(--cor-fundo);
}

.headerMain {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-principal);

    & .headerTop {
        width: 90%;
        height: 75%;
        gap: 0;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        align-items: center;
        justify-content: center;

        & img {
            max-width: 100%;
        }

        & input {
            width: 80%;
            height: 23%;
            border: none;
            border-radius: 8px;
            padding-left: 2%;
            justify-self: center;
            background-color: var(--cor-fundo);
            outline: none;
        }

        & input:hover,
        :focus {
            box-shadow: 1px 1px 12px 2px var(--cor-secundaria);
            transition: 0.3s ease;
        }

        .headerTopBtns {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            gap: 20%;

            & a {
                text-decoration: none;
                font-size: 1.35rem;
                text-align: center;
                border-radius: 8px;
                transition: 0.3s ease;
                font-weight: 600;
                color: #f1f1f1;
            }

            & a:hover {
                transform: scale(1.1);
            }
        }
    }

    & .headerNav {
        width: 100%;
        height: 25%;
        color: var(--cor-texto-principal);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: #d2d2d3;

        & .navList {
            display: grid;
            width: 80%;
            height: 100%;
            grid-template-columns: repeat(7, 1fr);
            list-style: none;
            text-align: center;
            padding: 0;
            margin-block-end: 0;

            & .navGuide {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .navGuide:hover {
                transform: scale(1.03);
                cursor: pointer;
                background-color: var(--cor-secundaria);
                transition: 0.3s ease-in;
            }

            & a {
                text-decoration: none;
                font-size: 1.10rem;
                color: var(--cor-texto-principal);
            }
        }
    }
}

.adMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 65vh;

    & #carouselMain {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
        height: 60%;
    }

    & .carousel-inner img {
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.categoriesMain {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-rows: 30% 70%;
    align-items: center;
    
    & h1 {
        text-align: center;
        font-size: 3rem;
        color: var(--cor-texto-principal);
        user-select: none;
    }
    
    & .categoriesList {
        width: 100%;
        height: 100%;
        margin-block-end: 0;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(7, 1fr);
        list-style: none;
        padding-right: 2rem;
        user-select: none;

        & .category {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transition: 0.3s ease-in-out;
            padding: 1rem;

            & .categoryIcon{
                min-width: 100%;
                border-radius: 4rem;
                color: var(--cor-texto-secundario);
                cursor: pointer;
            }
        }

        & .category:hover{
            transform: scale(1.03);
            .categoryIcon{
                transition: 0.3s ease;
                background-color: #343a403b;
                color: var(--cor-secundaria);
            }
        }
    }
}

.rodape {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 18vh;
    display: flex;
    background-color: var(--cor-texto-secundario);
    justify-content: center;
    color: var(--cor-fundo);
    user-select: none;

    label {
        cursor: pointer;
        transition: 0.3s;
    }

    label:hover {
        transform: 0.3s ease;
        color: var(--cor-secundaria);

        i{
            transform: 0.3s ease;
            color: var(--cor-secundaria);
        }

    }
}
